body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    background-color: #000000;
}

p {
    margin: 0;
}

.topnav {
    color: #FFFFFF;
    background-color: #262626;
    font-size: 23px;
    font-weight: bold;
    padding: 23px 20px;
    overflow: hidden;
}

.login {
    color: white;
    background-color: #181717;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: calc(50vh - 250px);
    border-radius: 20px;
    border: 3px solid #696969;
}

.login-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}

.login-from {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-lable {
    font-size: 23px;
    margin-right: 10px;
    font-weight: bold;
    margin: auto 0;
}

.row {
    display: flex;
    margin-top: 15px;
}

hr.login-hr {
    width: 100%;
    border: 0;
    height: 3px;
    background: #696969;
}

.textbox {
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    margin: 0 10px;
    background-color: #696969;
    color: white;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    padding: 8px 10px;
    cursor: pointer;
}

.login-btn {
    background-color: #34a054;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 15px;
    width: 40%;
}

.logout-btn {
    background-color: #9e4141;
    color: #FFFFFF;
    top: 15px;
    right: 30px;
    padding: 10px 20px;
    position: absolute;
}

.connect-btn {
    background-color: #34a054;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin: 14px 0;
    margin-left: 20px;
    width: 70px;
}

.find-btn {
    background-color: #34a054;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

.forget {
    font-size: 16px;
    color: #a1a1a1;
    margin-bottom: 15px;
    cursor: pointer;
}

.panel-main {
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
}

.panel-row {
    display: flex;
}

.text {
    font-size: 25px;
    color: #FFFFFF;
    margin: 15px 0;
}

.atemip {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 15px 0;
    margin-left: 20px;
    width: 120px;
    padding: 10px 10px;
}

.auto-find {
    margin: auto 0;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

#auto-connect {
    margin-left: 20px;
}

#control {
    border-radius: 20px;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
}

#control td,
#control th {
    border: 2px solid #696969;
    color: white;
    padding: 8px;
}

#control tr:nth-child(even) {
    background-color: #202020;
    color: white;
}

#control th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #202020;
    color: white;
}